
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
min-width:1200px;
	padding: 0;
	background: url(bg01.jpg) repeat;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: white;
}

h1, h2, h3 {
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #2F2A1D;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header {
min-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 170px;
	background: url(bg02.jpg) repeat-x left top;
}

/* Header */

#logo {
	float: center;
min-width: 1200px;
	width: 450px;
	padding: 0px 0px 0px 30px;
}

#logo h1, #logo p {
	float: center;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#logo span {
	color: #FFFFFF;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 48px;
}

#logo p {
	letter-spacing: -1px;
	text-transform: lowercase;
	margin: 0px;
	padding: 18px 0px 0px 3px;
	font-size: 18px;
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Wrapper */

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Page */

#page {
	min-width: 1200px;
	min-height: 700px;
	width: 1200px;
	margin: auto;
	color: white;

}

/* Latest Post */

#latest-post {
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 700px;
	color: white;
	padding: 0px 0px 0px 250px;
}

.post {
	margin: -3px 0px 0px 0px;
	padding: 10px 10px 50px 10px;	
	line-height: 200%;
	background: url(bg03.jpg) repeat;
}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 30px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #2F2A1D;
}

.byline {
	margin: -40px 0px 20px 0px;
	padding: 20px 20px 0px 20px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

.byline a {
	color: #666666;
}



.links {
}

.links a {
	width: 100px;
	display: block;
	margin: 0px;
	padding: 0px;
	background: #590202;
	text-align: center;
	color: #FFF;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
  position:fixed;
	float: left;
	width: 210px;
	margin:10px 10px 10px 10px;
	color: white;
}

#sidebar2 {
  position:fixed;
	float: right;
	width: 210px;
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 950px;
	color: white;
}

.sidebar {
	float: left;
	color: #3D3726;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sidebar li ul {
	background: none;
	margin-bottom: 40px;
}

.sidebar li li {
	line-height: 220%;
	padding: 0px 16px 0px 16px;
	background: none;
}


.sidebar li h2 {
	height: 32px;
	padding: 6px 0px 0px 15px;
	background: url(bg01.jpg) repeat;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

.sidebar h2 a {
}

.sidebar a {
	color: #2F2A1D;
}

/* Search */

#searchform {
	margin: 0;
	padding: 0 0 20px 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 165px;
	height: 18px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 10px 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	height: 100px;
}

#footer {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img03.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #B8AB86;
}

#footer a {
	color: #B8AB86;
}

#footer .link {
}

#footer .copyright {
}
